<!-- Main Content -->
<div class="row">
    <div class="col">
            <div class="jumbotron" id="contentArea">
                <h1 class="display-4 center-align">Welcome to</h1>

                <h2 class="center-align">Spence McComb's Portfolio</h2>

                <p><br/>
                    Hello, there! This page is a representation of the various things I do and love. On it you will find
                    several pages that should give you an insight into my own personal interests and passions.
                    The page was created through the knowledge gained in the WEBD6201 course at Durham College, 
                    and served as one of the final assignments for said course. Click the link below to access
                    COOL STUFF, or feel free to view the pages via the top navbar.
                </p>
                
                <div id="progressBar"></div>
                <button type="button" class="btn btn-primary" id="coursesButton">Current Courses</button>
            </div>
    </div>
</div>
